@use '../../../styles/constants/colours.scss' as colour;

.morse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.morse-input {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    gap: 2em;
  }

  input {
    text-align: center;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    display: block;

    &.green {
      border: solid 4px colour.$green-dark;
      color: colour.$green-dark
    }
  }

  p {
    font-size: 1.5em;
    width: 2em;
    line-height: 2em;
    text-align: center;
  }
}


.morse-decode-hint {
  opacity: 0.25;
}
