$gold: #ebbb1b;
$orange: #ffa801;
$pink: #fa92b0;
$pink-dark: #f53b57;
$purple: #8a115d;
$teal: #607c8c;
$violet: #573765;
$blue: #4bcffa;
$blue-dark: #575fcf;
$green: #4cfa55;
$green-dark: #63cf57;
$dark: #121212;
$light: #fef6e9;
