@use '../../styles/mixins/shadows.scss' as mix;
@use '../../styles/constants/colours.scss' as colour;

.success {
 h1 {
  @include mix.text-shadow(colour.$green-dark, 1px);
  color: colour.$green;
  margin-bottom: 2rem;
 }
}

.small {
 margin-top: 1.5rem;
 opacity: 0.25;
 font-size: 0.5em;
}
