@use './constants/typography.scss' as type;
@use './constants/colours.scss' as colour;
@use './mixins/shadows.scss' as mix;

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  position: relative;
}

h1 {
  font-size: map-get(type.$h1, 'font-size');
  line-height: map-get(type.$h1, 'line-height');
}

h2 {
  font-size: map-get(type.$h2, 'font-size');
  line-height: map-get(type.$h2, 'line-height');
}

h3 {
  font-size: map-get(type.$h3, 'font-size');
  line-height: map-get(type.$h3, 'line-height');
}
