@use '../../../styles/constants/colours.scss' as colour;
@use '../../../styles/constants/typography.scss' as type;
@use '../../../styles/constants/layout.scss' as layout;
@use '../../../styles/mixins/shadows.scss' as mix;

.circuit-alphabet {
 border-collapse: collapse;
 margin-bottom: layout.$gutter-xlarge;
 margin-top: layout.$gutter-xlarge;

 td {
  @include mix.text-shadow(colour.$blue-dark, 1px);
  border: 1px solid colour.$blue-dark;
  color: colour.$blue;
  height: 1.75em;
  text-align: center;
  min-width: 1.75em;
  vertical-align: middle;
 }
}

.circuit-input {
 margin-top: layout.$gutter-large;
 position: relative;

 &::after,
 &::before {
  background: white;
  content: '';
  height: layout.$gutter-mlarge;
  width: 1px;
  position: absolute;
  bottom: 100%;
 }

 &:first-of-type::before {
  display: none;
 }

 &:last-of-type::after {
  display: none;
 }

 &:nth-child(even)::after,
 &:nth-child(odd)::before {
  transform: rotate(-45deg);
  left: 0;
 }

 &:nth-child(odd)::after,
 &:nth-child(even)::before {
  transform: rotate(45deg);
  right: 0;
 }

 &:not(:first-of-type) {
  margin-left: layout.$gutter-large;
 }

 input {
  height: 4.375rem;
  width: 4.375rem;
 }
}

.circuit-clue {
 @include mix.shadow(colour.$orange);
 @include mix.text-shadow(colour.$pink-dark, 1px);
 color: colour.$gold;
 align-items: center;
 display: flex;
 font-size: map-get(type.$body-large, 'font-size');
 justify-content: center;
 height: 4.375rem;
 line-height: map-get(type.$h3, 'line-height');
 width: 4.375rem;

 &:not(:first-of-type) {
  margin-left: layout.$gutter-large;
 }
}

.is-close-match {
 @include mix.shadow(colour.$pink);
 background: rgba(colour.$pink, 0.3);
}

.is-match {
 @include mix.shadow(colour.$teal);
 @include mix.text-shadow(colour.$blue, 1px);
 color: colour.$light;
 background: rgba(colour.$teal, 0.3);
}

.clues-row {
 display: flex;
 justify-content: center;

 &:first-of-type {
  margin-top: layout.$gutter-xlarge;
 }
}
