@use '../../../styles/constants/typography.scss' as type;
@use '../../../styles/constants/layout.scss' as layout;
@use '../../../styles/constants/colours.scss' as colour;
@use '../../../styles/mixins/shadows.scss' as mix;

.anagram {
 width: 100%;

 p:not(:first-of-type) {
  @include mix.text-shadow(colour.$blue-dark, 1px);
  font-size: map-get(type.$h3, 'font-size');
  line-height: map-get(type.$h3, 'line-height');
  margin-top: layout.$gutter-small;
 }

 p:first-of-type {
  color: colour.$dark;
 }

 em {
  font-size: 0.75em;
 }
}

.correct input {
 border: solid 5px colour.$green-dark;
}

.anagram-table {
 border-collapse: collapse;
 margin-top: layout.$gutter-mlarge;

 td {
  padding: layout.$gutter-smedium;
  vertical-align: middle;
 }
}

.hint {
 font-size: italic;
 opacity: 0.15;
}
